<div class="container">
  <h1>Video Call App</h1>

  <div *ngIf="!generatedId">
    <button (click)="startCall()">Start Call</button>
  </div>

  <div>
    <input #callIdInput type="text" placeholder="Enter Call ID" />
    <button (click)="joinCall(callIdInput.value)">Join Call</button>
  </div>

  <div id="local-container">
    <h3>Local Player</h3>
    <div id="local-player" style="width: 300px; height: 200px"></div>
  </div>

  <div id="remote-container">
    <h3>Remote Players</h3>
    <div id="remote-player-container"></div>
    <!-- Container to dynamically add remote player elements -->
  </div>
</div>
